*apks*
!apks_ccs2014
apks_ccs2014/**
!apks_ccs2014/apks_ccs2014_metadata.xlsx
!apks_ccs2014/permissions.txt

# Override ignore patterns from repo's root .gitignore
!logs
!droidmate_output

# Temporary
snapchat
decoded